<div class="authentications">
	<p class="large"><%= object %></p>
	<a href="/auth/tsina" class="auth_provider">
		<%= image_tag "auth/tsina_64.png", :size => "64x64", :alt => "Weibo" %>
		<%= t ".weibo" %>
	</a>
</div>