<div class="user_feeds">
<% if @feed_items.empty? %>
	<h3><%= t(".following_users_feed_will_show_here") %></h3>
<% else %>
	<%= render :partial => 'shared/feed_item', :collection => @feed_items %>
	<div class="paginate">
		<%= paginate @feed_items %>
	</div>
<% end %>
</div>