<% object.each do |u| %>
	<div class="player">
		<div class="player_avatar">
			<%= player_image_tag u %>
			<%= link_to t(:start_duel), new_game_path(:opponent => u.name), :class => 'select_link' %>
		</div>
		<div class="player_details">
			<%= link_to u.name, u %><br/>
			<%= time_ago_in_words u.last_request_at if u.last_request_at %>
		</div>
	</div>
<% end %>
