<div class="show_follow">
	<h3>
		<%= @user.name %>
		<%= @action %>
	</h3>
	<% unless @users.empty? %>
		<%= render "users/list", :object => @users %>
	<% end %>
</div>

<div class="paginate">
	<%= paginate @users %>
</div>