<%= render "shared/errors_messages" %>
<%= render "shared/other_messages" %>

<div class="relative">
	<%= render "shared/side_bar" %>
	<%= render "profile" %>
</div>

<% if Rails.env.production? and I18n.locale == :zh %>
<!--start of feedback code powered by geekui-->
<script type="text/javascript" src="http://geekui.com/static/js/widgets.js"></script>
<script type="text/javascript" charset="utf-8">
	var options = {};
	options.company_sub_url = "laoqipan";
	options.placement = "right";
	options.tab_define = false;
	options.display = "overlay";
	options.style = "gray_right.png";
	var feedback_widget = new GKFN.feedback_widget(options);
</script>
<!--end of feedback code powered by geekui-->
<% end %>