<div class="divider"></div>
<div class="span-11">
<h3><%= t :feedback %></h3>
<p>
  <%= image_tag "contact.png" %><br/>
	<%= link_to "twitter", "http://twitter/laoqipan" %>
	<%= link_to "新浪微博", "http://weibo.com/laoqipan" %>
</p>
</div>
