<div id="<%= div_id %>">
	<div class="board_fallback_area">
		<% for y in ('a'..'s') %>
			<% for x in ('a'..'s') %>
				<% if @game.nil? %>
					<div id="<%= div_id + '-' + x+y %>" class="e"></div>
				<% else %>
				  <div id="<%= div_id + '-' + @game.id.to_s + '-' + x + y %>" class="e"></div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>