<div class="top_bar woody wood_shadow" id="game_info">
	<div class="collapse"></div>
	<%= t(".discussion") %>
</div>
<div id="comment_box" class="notify_content">
	<%= render "games/game_comments" %>
</div>
