<div class="select_player">
	<h3><%= t :select_player %></h3>
	<%= render "users/list", :object => @users %>
	<div class="pagination">
		<%= paginate @users %>
	</div>
</div>
<div class="divider"></div>
