<div class="divider"></div>
<div class="game_help span-23">
  <p>欢迎光临手谈客栈，本客栈致力于打造一个优秀的网络对弈平台，方便像我一样需要学习和研究围棋的爱好者。</p>

  <a name="html5"></a>
  <h4>HTML5</h4>
  <p>需要注意，棋盘的主要功能基于HTML5 CANVAS，所以本客栈有自我偏好: 只服务支持CANVAS接口的浏览器。意味着你需要使用Internet Explorer 9.0、Firefox 3.0、Safari 3.0、Chrome 3.0、Opera 10.0、Iphone 1.0、Android 1.0 及其以上版本的浏览器，才能使用这里的服务。我们在这里推荐使用Firefox，或者Chrome，因这也是掌柜的开发本客栈时用的。若你的确只能使用Internet Explore 8.0以下版本的浏览器，推荐你看看<%= link_to "无争围棋网", "http://www.wuzheng.org" %>：这是目前比较友好和活跃的中文围棋网站。棋盘使用eidigo player，提供强大的在线打谱的功能。
  </p>
  
  <a name="how_to_play"></a>
  <h4>对局说明</h4>
  <p>目前，所有访问者都可观棋，但只有注册用户可下棋，有下棋需要的朋友请走<%= link_to "这道门", signup_path %>。</p>
  <p>当你完成注册并登录后，即可点击网页上方的『下棋』，去寻找对手。所有公开接收对局邀请的棋友，名字都会出现在对手的列表中，你能清楚的看到他们的胜率和在线状况。点击名字列表后的『下战帖!』即进入到创建游戏的页面(建议选择在线的对手)。目前支持两种对局规则:现代围棋，以及中国古代座子棋。</p>
  <p>对局创建后，会出现在用户的对局邀请列表中。被邀请者总是先行，你需要等待对手落子确认，对手一旦落子，对局便正式开始。目前对双方的用时没有做限制，但是我们建议对局者自行约定在线时间，以便完成对局。注意，在落子确认前，邀请者和被邀请者都可以取消对局邀请。</p>
  <p>对局中，任何一方落子后，都需要点击下方的『落子后点我』进行确认，这是为了防止点错落子位置，对iphone/ipad的用户更加方便。</p>
  <p>对局提供聊天功能，只有对局双方可以使用，所有聊天内容都会记录在当前对局的SGF棋谱中。</p>
  <p>为方便观棋和分享，提供如下功能给所有访问者:
    <ul>
      <li>播放对局:支持浏览对局起始、前进、后退和最终状态</li>
      <li>SGF棋谱下载:目前，对SGF格式棋谱的查看功能并不完美，故你可以下载棋谱到本地，用更专业的SGF查看器研究棋局。</li>
      <li>方便的分享:可以在棋盘上显示指定范围的手数，并截图。</li>
    </ul>
  </p>

  <a name="learn_by_sgf"></a>
  <h4>棋谱学习</h4>
  <p>提供一个方便的，供大家学习和欣赏高手对局的环境，也是创办本客栈的目的之一。此功能尚在开发阶段，敬请期待。</p>
</div>
