<div class="upload_records"><%= t(:game_records) %></div>
<div class="user_uploads">
	<div>
		<div class="pagination">
			<%= paginate @games %>
		</div>
		<%= render "shared/game_records", :object => @games %>
	</div>
</div>

