/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
@mixin clear {
  padding:5px;
  color:#008040;
  background-color:#DCF7DD;
  border:1px solid #BBD2BC;
  margin-bottom:15px;
  margin-top:10px;
  a {
    padding:3px;
    &:hover {
      color:#fff;
      background-color:#000080;
    }
  }
}

@mixin notice {
  color: #1B3650;
  padding:10px 18px;
  border:1px solid #CEE0E7;
  background-color:#E4F0FF;
}

.message {
  min-height:50px;
  background:url(/assets/broadcasts.png) no-repeat;
  @include clear;
  h3 {
    margin-left:64px;
  }
  p {
    margin-left:64px;
    padding-left:8px;
  }
}

#all_messages {
  height:18px;
  text-align:right;
  a {
    color:#004080;
    font-size:0.8em;
    &:hover {
      color:#fff;
    }
  }
}

.broadcasts {
  width:550px;
  margin:10px auto 10px 0;
}

.blog {
  width:550px;
  margin:10px auto 10px 0;
  font-size:1.2em;
  line-height:25px;
  padding:10px;
  h1 {
    margin-bottom:15px;
  }
}

.blog_meta {
  font-size:0.9em;
  background-color:#eee;
  color:#999;
  padding:6px;
  span {
    color:#333;
    font-weight:bold;
    margin-right:10px;
  }
}

.brief {
  font-size:0.9em;
  padding:5px;
  color:#004080;
}

.blog_body {

}

.side_nav {
  float:right !important;
  width:150px;
  @include notice;
}