@mixin box-shadow($color: #963) {
  box-shadow:0 0 5px 1px $color;
  -webkit-box-shadow:0 0 5px 1px $color;
  -moz-box-shadow:0 0 5px 1px $color;
}

@mixin border-radius($radius: 5px) {
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
}

.wood_shadow {
  @include box-shadow;
  a {
    margin:0;
    padding:5px;
  }
}

.show {
  margin-top:10px;
  padding:10px;
  background-color:#fff;
  border:1px solid #ddd;
  @include border-radius;
}

#post_comments {
  form {
    padding:0;
  }
}

#post_in {
  font-size:1.5em;
}

.post {
  font-family:monospace;
  border:1px solid #bbb;
}
.poster {
  background-color:#eee;
  padding:5px;
}
.post_body {
  padding:5px;
}

#comments {
  margin:5px 0px 0px 0px;
}

$board_width: 531px;

#game_info {
  width:$board_width;
  margin:0;
}

#comment_box {
  width:$board_width;
  margin:0;
}

#help_text {
  margin:5px auto 5px auto;
}

.comment_title {
  height:30px;
  font {
    size:1.2em;
    weight:bold;
  }
  margin-top:8px;
}

#board, #board_review {
  width:$board_width;
  height:$board_width;
  margin-left:1px;
  background:url(/assets/board.jpg);
  border:1px solid #aaa;
}

#board_review {
  margin-bottom:5px;
}

.board_fallback_area {
  position:relative;
  width:475px;
  height:475px;
  margin:28px;
  div {
    text-align:center;
    line-height:24px;
    width:25px;
    height:25px;
    float:left;
    &.clear_text {
      font-weight:bold;
      background-color:#CCFF66;
    }
    &.b {
      color:#fff;
      background:url(/assets/black_stone.png) no-repeat center;
    }
    &.b.last {
      color:#f00;
      background:url(/assets/last_black_stone.png) no-repeat center;
    }
    &.b.last_text {
      color:#f00;
      background:url(/assets/black_stone.png) no-repeat center;
    }
    &.w {
      color:#000;
      background:url(/assets/white_stone.png) no-repeat center;
    }
    &.w.last {
      color:#f00;
      background:url(/assets/last_white_stone.png) no-repeat center;
    }
    &.w.last_text {
      color:#f00;
      background:url(/assets/white_stone.png) no-repeat center;
    }
    &.fake {
      opacity: 0.6;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    	filter: alpha(opacity=60);
    }
  }
}

#game {
  position:absolute;
  top:8px;
  left:0px;
  width:$board_width + 4px;
  padding:2px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  background:url(/assets/head_bg.png);
  border:1px solid #ccc;
  img {
    margin:0;
  }
}

#game_review {
  display:none;
}

.game_board {
  width:$board_width + 4px;
  height:560px;
  margin:0;
}

#progame_board {
  margin-top:10px;
}

#progame_info {
  position:absolute;
  top:0;
  right:0;
  margin-top:10px;
  width:380px;
  font-size:1.2em;
  div {
    margin-bottom:10px;
  }
  img {
    float:left;
  }
  span {
    margin-right:10px;
  }
}

#sgf_comments {
  padding:10px;
  background-color:#eee;
}

#board_info, #start_info {
  position:absolute;
  border:1px solid #000;
  padding: 10px;
  text-align:center;
  top:230px;
  left:150px;
  width:200px;
  color:#fff;
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
  background:rgba(0, 0, 0, 0.4);
}

.game_ladder {
  position:relative;
  height:190px;
}

.game_item {
  width:190px;
  height:90px;
  float:left;
  position:relative;
}

.game_thumbnail{
  cursor:pointer;
  float:left;
  margin-top:5px;
}

.game_player{
  margin-left:5px;
  height:18px;
  overflow:hidden;
}

.game_status {
  position:absolute;
  bottom:5px;
  left:85px;
}

.divider{
  height:5px;
  clear:both;
}

.record_item {
  padding:5px;
  width:535px;
  margin:10px auto 10px 0;
  clear:both;
  a.record_thumbnail{
    float:left;
    margin:0 10px 10px 0;
  }
  p {
    margin-top:10px;
  }
  .record_details {
    a {
      padding:5px;
      color:#004080;
      background-color:#ccc;
      &:hover {
        color:#fff;
        background-color:#004080;
      }
    }
  }
  
  border-top:1px solid #ccc;
}

.bottom_profile {
  text-align:right;
}

.opponent {
  width:$board_width;
  margin:0 0 0 auto;
  div.inline {
    top:5px;
    left:250px;
  }
}

.me {
  width:$board_width;
  margin:0px auto auto 0px;
  div.inline {
    top:575px;
    left:75px;
  }
}
.me, .opponent {
  font-weight:bold;
  font-family:sans-serif;
  height:30px;
  position:static;
  padding-top:4px;
}

.black {
  background:url(/assets/bowl_black.png) no-repeat;
}
.white {
  background:url(/assets/bowl_white.png) no-repeat;
}
#white_captured {
  background:url(/assets/lid_white.png) no-repeat;
}
#black_captured {
  background:url(/assets/lid_black.png) no-repeat;
  color:white;
}
.play_as {
  z-index:1;
  width:36px;
  height:39px;
}
.captured {
  z-index:1;
  width:32px;
  height:32px;
  text-align:center;
  font-size:1.5em;
  font-weight:normal;
}
.opponent .captured {
  position:absolute;
  top:3px;
  left:467px;
}
.opponent .play_as {
  position:absolute;
  top:0px;
  left:500px;
}
.me .captured {
  position:absolute;
  top:572px;
  left:36px;
}
.me .play_as {
  position:absolute;
  top:569px;
  left:0px;
}

.round {
  margin:3px;
  background-color:#eee;
  border:1px solid #666;
  @include border-radius(10px);
}

.round_board {
  @include border-radius(10px);
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea {
  font-family:monospace;
}

.button {
  cursor: pointer;
  margin-left:10px;
  margin-right:10px;
  padding:5px;
  border:1px solid #000;
  display:inline;
  background:transparent;
  background:rgba(0,0,0,0.2);
}

.control_button {
  cursor:pointer;
  &:hover {
    background-image:url(/assets/woody2.png);
    background-position:100% 100%;
    color:white;
  }
}

.paginate {
  font-size:1em;
  font-style:italic;
  height:20px;
  margin:0 auto;
  text-align:center;
}

.field {
  margin:20px auto;
  font-size:1.2em;
  width:320px;
}

#intro {
  width:480px;
  position:absolute;
  margin-top:10px;
  top:0;
  left:0;
  border:1px solid #ccc;
}

#sign_in {
  margin-top:10px;
  z-index:1;
  position:absolute;
  top:0;
  right:0;
  border: 1px solid #ccc;
  div.top_bar {
    font-size:1.2em;
    color:#FF8000;
  }
}

.tips {
  color:#666;
  line-height:30px;
}

.game_help {
  font-size:1.2em;
  padding:10px;
  margin:10px;
  h4 {
    font-weight:bold;
    margin-bottom:10px;
  }
}

.relative {
  width:100%;
  min-height:750px;
  position:relative;
  div#side_bar {
    position:absolute;
    top:0;
    right:0;
  }
  div#topic_bar {
    padding:0;
    width:100%;
    p.info {
      line-height:24px;
    }
  }
}

.about {
  position:absolute;
  top:10px;
  left:10px;
  a {
    color:white;
    margin:10px;
  }
}

.copyright {
  margin-right:30px;
}

.open {
  color:#999;
  a {
    color:#aaa;
  }
}

.user_form {
  width:450px;
  padding:5px;
  margin-top:20px;
  color:#333;
}

.select_player {
  padding:5px;
  a {
    padding:3px;
    text-align:center;
    background-color:#ddd;
    border:1px solid #ccc;
    &:hover {
      color:#fff;
      background-color:#000;
    }
  }
}

.fixed_edit {
  width:500px;
  margin-top:10px;
}

@mixin auth_form {
  width:360px;
  margin:10px auto;
  padding:10px;
  line-height:25px;
  ul {
    list-style-type:disc;
  }
  h4 {
    color:red;font-weight:bold;
  }
}

.auth {
  @include auth_form;
}

.fixed {
  height:560px;
  @include auth_form;
}
  
.my_turn{
  color:#f00;
  font-weight:bold;
}

.others_turn{
  color:#000;
}

.notify_wrapper {
  color:black;
  width:380px;
  @include border-radius(5px);
  padding:5px;
  a {
    color:#000;
  }
}
.woody {
  background:url(/assets/head_bg.png);
}
.woody2 {
  background:url(/assets/woody2.png);
}

#notified_games {
  margin-bottom:5px;
}
.notified_games_list {
  width:190px;
  height:90px;
  float:left;
  position:relative;
}
.notify_none {
  margin-left:10px;
  font-size:1.2em;
  color:white;
}

.opponent .game_player {
  margin-right:5px;
}

span {
  &.right a {
    margin-right: 5px;
    margin-left: 5px;
  }
  &.success, &.info, &.error, &.notice {
    padding:5px;
  }
}

#browser_check {
  display:none;
  z-index:2;
  background-color:#FAF0E6;
  padding:10px;
  font-size:1.2em;
  border:3px solid #000;
  width:450px;
  text-align:left;
  h4 {
    color:red;
    font-weight:bold;
  }
}

#browser_check_bg {
  background-color:#000;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  z-index:1;
}

.recommand {
  margin-top:5px;
  a {
    display:block;
    width:64px;
    height:85px;
    float:left;
    margin-right:10px;
    text-align:center;
    color:#143C99;
    img {
      width:64px;height:64px;
    }
  }
}

.top_bar {
  text-align:center;
  font-weight:bold;
  margin-bottom:5px;
  height:20px;
  width:100%;
  background-color:#eee;
  padding-top:2px;
  border:1px solid #ccc;
  position:relative;
  div {
    cursor:pointer;
    &.refresh {
      position:absolute;
      top:0;
      left:0;
      z-index:1;
      width:24px;
      height:24px;
      background:url(/assets/button_reload.png) no-repeat;
    }
  }
}

#game_duel, #game_all {
  padding:4px;
  width:130px;
  margin:5px auto 5px 0;
  text-align:center;
  background-color:#408000;
  @include border-radius(3px);
  a {
    color:#fff;
  }
}

#gnugo, #human {
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  background-color:#eee;
  div.select_player {
    margin-left:5px;
  }
}

.dialog_close {
  background:url(/assets/dialog_close.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:1px;
}

#games_list {
  font-weight:normal;
}

#intro_video {
  width:480px;
  height:300px;
  font-size:1.2em;
  padding:5px;
  p {
    font-size:1.5em;
    font-weight:bold;
    color:#408000;
  }
  ul {
    margin:10px;
    li {
      padding:5px;
      font-size:1.3em;
      font-weight:bold;
      color:#408000;
    }
  }
}

.top {
  position:relative;
  height:400px;
}
.bottom {
  clear:both;
  width:100%;
  padding-top:20px;
}

#game_nav {
  display:none;
  height:608px;
  width:540px;
  z-index:1;
}

#close_game_nav {
  display:none;
  height:42px;
  width:40px;
  background:url(/assets/close.png) no-repeat;
  z-index:2;
  cursor:pointer;
}

#player_list {
  height:200px;
  overflow:auto;
  width:100%;
}

#game_area {
  height:630px;
  z-index:1;
}

#loader {
  display:none;
  z-index:11;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
  background:url(/assets/ajax-loader.gif) no-repeat rgba(0,0,0,0.6) center;
  width:60px;
  height:60px;
  position:absolute;
  top:272px;
  left:240px;
  @include border-radius;
}

.reference {
  font-size:0.9em;
  color:#666666;
}