* {
  margin:0;
}

html, body {
  height:100%;
}

body {
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
}

div {
  margin:0 auto;
  h3 {
    padding:5px;
  }
}

h3 {
  img {
    margin-right:5px;
  }
}

table {
  width:100%;
  tbody {
    tr {
      th {
        text-align:left;
        padding:5px;
        border-bottom:2px solid #bbb;
      }
      td {
        padding:5px;
        border-bottom:1px solid #ccc;
        a {
          padding:3px;
          text-align:center;
          background-color:#ddd;
          border:1px solid #ccc;
          &:hover {
            color:#fff;
            background-color:#000;
          }
        }
      }
    }
  }
}

@mixin border-radius($radius: 5px) {
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
}

ul {
  list-style-type:none;
}

div.inline {
  display:inline;
  position:absolute;
  padding:5px 0 5px 0;
  a {
    color:black;
    &:hover {
      color:white;
    }
  }
  span.control_button {
    display:inline;
    padding:4px 8px 4px 8px;
    @include border-radius;
    margin-left:2px;
    border:1px solid #aaa;
  }
}

a {
  text-decoration:none;
  font-weight:bold;
  img {
    border:none;
  }
}

p {
  margin-bottom:10px;
}

form {
  padding:5px;
}

img {
  vertical-align:middle;
  margin:0 5px 0 0;
}

.info, .success, .notice, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.notice {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.left {
  float:left !important;
}

.right {
  float:right !important;
}

.container {
  width:950px;
}

@mixin href_style {
  font-weight:bold;
  padding:5px;
  &:hover {
    color:#fff;
    background-color:#000;
  }
}

.account {
  float:right !important;
  margin-top:5px;
  a {
    @include href_style;
  }
}

#logo {
  float:left !important;
}

#header {
  font-weight:bold;
  height:60px;
  background-color:#eee;
}
  
#footer {
  clear:both;
  text-align:center;
  margin:25px auto;
  padding:10px;
  background-color:#eee;
}

.switcher {
  font-weight:normal;
  padding-top:10px;
  display:block;
  a {
    color:#008040;
    @include href_style;
  }
}

.clear {
  clear:both;
  margin:10px auto 10px 0;
}