.show_follow {
  margin:5px 25px 5px 25px;
  h3 {
    border-bottom:1px solid #bbb;
    padding:10px;
  }
  ul {
    padding:0;
    li {
      padding:5px;
      border-bottom:1px solid #bbb;
    }
  }
}

@mixin lock_index {
  width:450px;
  div {
    &.feed_show {
      height:80px;
      clear:both;
      img {
        float:left;
      }
      padding:5px;
      border-bottom:1px solid #aaa;
      span.feed_player {

      }
      span.update_time {
        display:inline;
        color:#666;
        background-color:#ddd;
      }
    }
  }
}

.user_feeds {
  position:absolute;
  top:60px;
  padding:10px;
  @include lock_index;
}

.game_index {
  margin:15px;
  @include lock_index;
}
