.show_follow {
  margin:5px 25px 5px 25px;
  h3 {
    padding:10px;
  }
  ul {
    padding:0;
    li {
      padding:5px;
      border-bottom:1px solid #bbb;
    }
  }
}

@mixin lock_index {
  div {
    &.feed_show {
      float:left;
      position:relative;
      height:80px;
      width:450px;
      margin:5px;
      background-color:#eee;
      img {
        float:left;
      }
      padding:5px;
      span.feed_player {

      }
      span.update_time {
        display:inline;
        color:#666;
        background-color:#ddd;
      }
      div.feed_link {
        position:absolute;
        top:35px;
        right:25px;
      }
    }
    &.paginate {
      clear:both;
    }
  }
}

.user_feeds {
  position:absolute;
  width:450px;
  top:70px;
  padding:10px;
  @include lock_index;
  div.paginate {
    width:100%;
    margin:0;
  }
}

.game_index {
  margin-top:15px;
  position:relative;
  @include lock_index;
}
